extends layout.pug

block append scripts
    script(src="js/admin.js")
    script(src="js/utils.js")

block content
    .row.justify-content-center(style="margin-top: 20px")
        .col-lg-6.col-md-8
            .container
                .card
                    .card-header.bg-primary.text-white.text-center
                        h2 Self-Authed
                    .card-body
                        p.card-text Hello #{username} !
                    .card-footer
                        a.btn.btn-primary(href="/" role="button") Back
    .row(style="margin-top: 20px")
        .col
            .container
                div.text-center
                    h2 Users
                table.table.align-middle
                    thead
                        tr
                            th(style="width:20%") User
                            th(style="width:5%") Admin
                            th(style="width:65%") Permissions
                            th.text-end(style="width:10%")
                                button#add-user-btn.btn.btn-success.btn-sm.fa.fa-plus(data-bs-toggle="modal" data-bs-target="#user-modal")
                    tbody#user-table-body
                div.text-center
                    h2 Services
                table.table.align-middle
                    thead
                        tr
                            th(style="width:15%") Name
                            th(style="width:25%") Address
                            th(style="width:50%") Allowed users
                            th.text-end(style="width:10%")
                                button#add-service-btn.btn.btn-success.btn-sm.fa.fa-plus(data-bs-toggle="modal" data-bs-target="#service-modal")
                    tbody#service-table-body
    modal#user-modal.modal.fade(tabindex="-1")
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h5#user-modal-title
                .modal-body
                    .row
                        .col-lg-6.col-md-12
                            h5 User information
                            input#user-modal-username.form-control.mb-3(type="text" placeholder="Username")
                            input#user-modal-password.form-control.mb-3(type="password" placeholder="Password")
                            .form-check
                                input#user-modal-is-admin.form-check-input(type="checkbox")
                                label.form-check-label(for="user-modal-is-admin") Admin
                        .col-lg-6.col-md-12
                            .row
                                .col
                                    h5 Permissions
                                .col.form-check.pull-right
                                    input#user-modal-all-permission.form-check-input(type="checkbox")
                                    label.form-check-label(for="user-modal-all-permission") all
                            div#user-modal-permissions(style="max-height: 50vh; overflow-y: overlay;")
                .modal-footer
                    button#user-modal-cancel-btn.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
                    button#user-modal-save-btn.btn.btn-primary(type="button") Save
    modal#service-modal.modal.fade(tabindex="-1")
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h5#service-modal-title
                .modal-body
                    input#service-modal-name.form-control.mb-3(type="text" placeholder="Service name")
                    input#service-modal-url.form-control(type="text" placeholder="Address")
                .modal-footer
                    button#service-modal-cancel-btn.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
                    button#service-modal-save-btn.btn.btn-primary(type="button") Save
