extends layout.pug

block append scripts
    script(src="js/admin.js")

block content
    .row.justify-content-center(style="margin-top: 20px")
        .col-lg-6.col-md-8
            .container
                .card
                    .card-header.bg-primary.text-white.text-center
                        h2 Self-Authed
                    .card-body
                        p(class="card-text") Hello #{username} !
                    .card-footer
                        a(href="/" class="btn btn-primary" role="button") Back
    .row(style="margin-top: 20px")
        .col
            .container
                div.text-center
                    h2 Users
                table.table
                    thead
                        tr
                            th(style="width:20%") User
                            th.text-center(style="width:10%") Admin
                            th(style="width:55%") Permissions
                            th.text-end(style="width:15%")
                                button#add-user-btn.btn.btn-success.btn-sm.fa.fa-plus(data-bs-toggle="modal" data-bs-target="#edit-modal")
                    tbody(id="user-table-body")
    modal#edit-modal.modal.fade(tabindex="-1")
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h5#edit-modal-title
                .modal-body
                    input.form-control.mb-3(type="text" placeholder="Username" id="edit-user-name")
                    input.form-control.mb-3(type="password" placeholder="Password" id="edit-user-password")
                    .form-check.mb-3
                        input.form-check-input(type="checkbox" id="edit-user-is-admin")
                        label.form-check-label(for="is-admin") Admin
                .modal-footer
                    button.btn.btn-secondary(type="button" data-bs-dismiss="modal" id="edit-user-cancel-btn") Cancel
                    button.btn.btn-primary(type="button" id="edit-user-save-btn") Save