extends layout.pug

block append scripts
    script(src="js/home.js")

block content
    div(class="row" style="margin-top: 20px")
        div(class="col-lg-3 col-md-2")
        div(class="col-lg-6 col-md-8")
            div(class='container')
                div(class="card")
                    div(class="card-header bg-primary text-white text-center")
                        h2 Self-Authed
                    div(class="card-body")
                        p(class="card-text") Hello #{username} !
                        if admin == true
                            a(href="/admin" class="btn btn-primary" role="button") Admin
                    div(class="card-footer")
                        a(href="/logout" class="btn btn-primary" role="button") Logout
    div(class='container' style="margin-top: 20px")
        div(class="row")
            div(class="col-lg-3 col-md-2")
            div(class="col-lg-6 col-md-8")
                div(class="card")
                    div(class="card-header bg-primary text-white text-center")
                        h2 Permissions
                    div(class="card-body")
                        div(class='container')
                            ul(id="permissions" class="list-group list-group-flush")