extends layout.pug

block append scripts
    script(src="js/login.js")

block content
    div(class="row" style="margin-top: 20px")
        div(class="col-lg-3 col-md-2")
        div(class="col-lg-6 col-md-8")
            div(class='container')
                div(class="card")
                    div(class="card-header bg-primary text-white text-center")
                        h2 Self-Authed
                    div(class="card-body")
                        div(class='container')
                            div(class="mb-3")
                                label(for="username" class="form-label") Username
                                input(id="username" type="text" class="form-control" name="username"
                                        aria-describedby="validation_username" placeholder="Enter username")
                                div(id="validation_username" class="invalid-feedback")
                            div(class="mb-3")
                                label(for="password" class="form-label") Password
                                input(id="password" type="password" class="form-control" name="password"
                                        aria-describedby="validation_password" placeholder="Enter password")
                                div(id="validation_password" class="invalid-feedback")
                            button(id="log-btn" type="submit" class="btn btn-primary") Log in