html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
                integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous")
        //link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css")
        title
            | "SelfAuthed - Login"

    body
        div(class='container')
            div(class="p-3 mb-2 bg-primary text-white text-center")
                h1 Self-Authed
        div(class='container')
            form(action="/login", method="post")
                div(class="mb-3")
                    label(for="login" class="form-label") Username
                    input(id="login" type="text" class="form-control" name="username"
                            aria-describedby="login-help" placeholder="Enter login")
                    div(id="login-help" class="form-text") Your username
                div(class="mb-3")
                    label(for="password" class="form-label") Password
                    input(id="password" type="password" class="form-control" name="password"
                            placeholder="Enter password")
                button(type="submit" class="btn btn-primary") Submit